/**
 *
 */

@import url( 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Source+Code+Pro' );



/**
 *
 */

html,
body,
p,
ul,
code,
pre {
	margin: 0;
	padding: 0;
}

html {
	color: #222;
	font-family: 'Source Sans Pro', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 1.125em;
	line-height: 1.333333;
}

body {
	padding: 1.333333em;
}

.page-header,
.page {
	margin-bottom: 5.333333em;
}

.brand {
	line-height: 2.666666em;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 0.666666em;
	background: #888;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	background: #f88;
}

h1, h2, h3, h4, h5, h6,
p,
ul {
	max-width: 30em;
}

article {
	margin-bottom: 5.333333em;
}

article ul {
	margin-bottom: 1.333333em;
	list-style: none;
}

article li {
	position: relative;
	padding: 0 0 0 1.333333em;
}

article li:before {
	content: '•';
	display: block;
	width: 1.333333em;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 1.333333em;
}

article a {
	color: #08c;
	text-decoration: none;
}

article a:visited {
	color: #80c;
}

article footer {
	margin-top: 2.666666em;
	color: #888;
}

article footer a,
article footer a:visited {
	color: #444;
}

article footer a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
}

h1 {
	max-width: 15em;
	font-weight: bolder;
	font-size: 2em;	/* 36 */
	line-height: 1.333333em;	/* 48 */
}

h2 {
	font-size: 1em;
	line-height: 1.333333em;
}

h3 {
	text-transform: lowercase;
	font-weight: normal;
	font-variant: small-caps;
	font-size: 1em;
	line-height: 1.333333em;
}

h1, h2, h3, h4, h5, h6,
p,
code {
	margin-bottom: 1.333333em;
}

code {
	display: block;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	margin: 0 -1.333333em 1.333333em -1.333333em;
	padding: 1.333333em;
	background: #f8f8f8;
	color: #444;
	font-family: 'Source Code Pro', 'Andale Mono', 'Lucida Console', monospace;
	font-size: 1em;
	line-height: 1.333333em;
	overflow-x: auto;
	-moz-tab-size: 5;
	-o-tab-size: 5;
	tab-size: 5;
}

code .k,
code .c,
code .m {
	font-weight: bold;
}

code .s {
	color: #d14;
}

code .c {
	color: #458;
}

code .m {
	color: #800;
}

code .v {
	color: #088;
}

.page-footer {
	border-top: 1px dotted #ddd;
	padding-top: 2.666666em;
}

.page-footer ul {
	list-style: none;
}

.page-footer a {
	color: #888;
	text-decoration: none;
}

.page-footer a:hover {
	color: #222;
}

.twitter {
	color: #00aced;
}

.github {
	color: #4183c4;
}

.ouatch {
	color: #8c0;
}

.forrst {
	color: #5b9c69;
}

@media screen and ( min-width: 40em ) {

	body {
		padding: 2.666666em 3.999999em;
	}

	code {
		margin: 0 -3.999999em 1.333333em -3.999999em;
		padding: 1.333333em 3.999999em;
	}
}

@media screen and ( min-width: 80em ) {

	.page-header {
		float: left;
		width: 15em;
	}

	.brand {
		margin-bottom: 2.666666em;
	}

	.page, .page-footer {
		margin-left: 15em;
		padding-left: 3.999999em;
	}

	code {
		margin: 0 -3.999999em 1.333333em -22.999999em;
		padding: 1.333333em 22.999999em;
	}
}
