/**
 *
 */

.entry {
	margin-bottom: vr(4);
}

.entry-header {
	margin-bottom: vr(1.5);
}

.entry-title {
	margin-bottom: vr(1/2);
}

.entry-meta {
	color: $color-entry-meta-text;
}

.entry-body {
	margin-bottom: vr(2);

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	iframe,
	img.size-full {
		display: block;
		margin-bottom: vr(1);
	}

	img.size-full {
		margin: 0 auto vr(1) auto;
	}

	img.wp-smiley {
		margin-bottom: 0;
	}

	li {
		position: relative;
		padding: 0 0 0 vr(1);
	}

	ul li:before {
		content: '•';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		line-height: vr(1);
	}
}

.entry-siblings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 vr(-1/2) vr(4) vr(-1/2);

	a {
		@include button();
		flex: 1 1 0;
		margin: 0 vr(1/2);

		span {
			display: block;
			font-weight: normal;
		}
	}
}

.entry-comments-header {
	margin-bottom: vr(2);
}

.entry-comments-items {
	margin-bottom: vr(3);
}

.entry-comment {
	margin-bottom: vr(1);

	p {
		margin-bottom: 0;
	}
}

.entry-comment-footer {
	@include typi($typi-small);
	color: $color-entry-comment-footer-text;
}
