/**
 *
 */

@mixin container {
	margin: 0 auto;
	max-width: $content-width;
}

@mixin button($link: false) {
	border-bottom: 1px solid $color-link;
	padding: vr(1/2);
	background: $color-link-background;
	color: $color-link-text;
	text-decoration: none;
	cursor: pointer;

	@if $link == true {
		display: inline;
	} @else {
		display: inline-block;
		font-weight: bold;
	}

	&:hover,
	&:focus {
		background: $color-link-background-hover;
		color: $color-link-text;
		text-decoration: none;
	}

	&:active,
	&.active {
		background: $color-link-background-active;
		color: $color-link-text-active;
	}

	span + span {
		display: block;
		font-weight: normal;
		color: $color-link-text-secondary;
	}
}
