/**
 *
 */

.social-profile-list {
	@media screen and (min-width: map-get($breakpoints, large)) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 vr(-1/2);
	}
}

.social-profile-item {
	@media screen and (min-width: map-get($breakpoints, large)) {
		box-sizing: border-box;
		flex: 1 1 0;
		flex-basis: 50%;
		max-width: 50%;
		padding: 0 vr(1/2);
	}
}

.social-profile {
	@include button();
	display: block;
	margin-bottom: vr(1);
}

.social-profile-icon {
	float: right;
	width: vr(1);
	height: vr(1);
}
