/**
 *
 */

$breakpoints: (
	large: vr(35)
);

$typi: (
	null: (18px, 1.6),
	large: (20px, 1.6)
);

$typi-small: (
	null: (0.8em, 2)
);

$typi-regular: (
	null: (1em, 1.6)
);

$typi-large: (
	null: (4em, 1)
);

$typi-h1: (
	null: (2em, 1)
);

$typi-h2: (
	null: (1.6em, 1)
);



/**
 *
 */

$font-family-sans:
	'Source Sans Pro',
	'Arial',
	'Helvetica',
	'Liberation Sans',
	'FreeSans',
	sans-serif;

$font-family-mono:
	'Source Code Pro',
	'Andale Mono',
	'Lucida Console',
	monospace;



/**
 *
 */
$content-width: vr(25);



/**
 *
 */

$color-white: #fff;
$color-gray-light-3: #f8f8f8;
$color-gray-light-2: #ddd;
$color-gray-light-1: #ccc;
$color-gray-light-0: #aaa;
$color-gray-dark-0: #888;
$color-gray-dark-1: #444;
$color-gray-dark-2: #222;

$color-blue: #08c;
$color-blue-light: #c7e1f2;
$color-blue-lighter: #eef6fc;
$color-blue-dark: #069;
$color-red-light: #f50;
$color-red-dark: #c40;
$color-green: #88cc00;



/**
 *
 */

$color-background: $color-white;
$color-text: $color-gray-dark-2;

$color-link: $color-blue;
$color-link-text: $color-text;
$color-link-text-active: $color-white;
$color-link-text-secondary: $color-blue;
$color-link-background: $color-blue-lighter;
$color-link-background-hover: $color-blue-light;
$color-link-background-active: $color-blue;
$color-link-background-visited: $color-blue-lighter;

$color-input-border: $color-gray-light-2;

$color-blockquote-text: $color-gray-dark-0;
$color-blockquote-ornament: $color-gray-light-0;

$color-button-text: $color-text;
$color-button-text-secondary: $color-blue;
$color-button-text-active: $color-white;
$color-button-background: $color-blue-lighter;
$color-button-background-hover: $color-blue-light;
$color-button-background-active: $color-blue;

$color-code-text: $color-white;
$color-code-background: $color-text;
$color-code-function: $color-red-dark;
$color-code-string: $color-green;
$color-code-number: $color-blue-dark;
$color-code-comment: $color-gray-dark-0;

$color-entry-meta-text: $color-gray-dark-0;
$color-entry-meta-link: $color-gray-dark-1;

$color-entry-comment-footer-text: $color-gray-dark-0;

$color-footer-background: $color-gray-light-3;
$color-footer-border: $color-gray-light-2;

$color-social-profile-title: $color-gray-dark-2;
$color-social-profile-description: $color-gray-dark-0;
